body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
}
#focused{
    display: flex;
    margin-left: 150px;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
#focused .half-width img{
    width: 70%;
}
.diff-color{
    color: orange;
}
#focused .half-width p{
    padding-left: 30px;
    padding-bottom: 40px;
}
#focused .half-width .left-border{
     border-left: 7px solid;
     border-color: rgb(221, 47, 82);
     border-radius: 5px;
     padding-left: 20px;
     font-size: 50px;
     font-family: 'Luxurious Roman', cursive; 
    line-height: 50px;
}
#one{
    padding-top: 150px;
}
a{
    background-color: crimson;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    color: white;  
}
#mission{
    margin-bottom: 100px;
}
#mission h1{
    text-align: center;
    font-size: 60px;
}

#mission .three{
    display: flex;
    margin: 10px;
    
}
#mission .three-1{
    background-color: rgba(195, 230, 218, 0.767);
    border-radius: 20px;
    margin-left: 100PX;
    margin-right: 20PX;
    padding: 30PX;
}
#mission .three-2 {
    background-color: rgba(197, 139, 139, 0.664);
    border-radius: 20px;
    margin-left: 20PX;
    margin-right: 20PX;
    padding: 30PX;
}
#mission .three-3 {
    background-color: rgba(223, 206, 160, 0.596);
    border-radius: 20px;
    margin-left: 20PX;
    margin-right: 100PX;
    padding: 30PX;
}
.three-img img {
    width: 250px;
}
#develop{
    display: flex;
    margin: 0 100px 100px 100px ;
}
#develop .half-width img{
    width: 600px;
}
#develop .half-width{
    width: 50%;
}
#develop .half-width p{
    padding-bottom: 40px;
}
#develop .half-width h1 {
    font-size: 40px;
    line-height: 30px;
}